body{
    background-color: #ededed !important;
    font-family: 'DM Sans', sans-serif;
}

.account-buttons{
    float: right;
}

.carousel-container{
    height: 352px;
    width: 498px;
    overflow: hidden;
}

.datetime td {
    width: 50%;
}

.footer-container{
    width: 100%;
    margin-top: 3%;
    padding-left: 4%;
}

.form-container{
    padding: 7%;
}

.form-signin{
    background-color: white !important;
    border-radius: 5px;
}

.greeting-part{
    text-align: right;
}

.hero-auth{
    margin: auto;
}

.hero-landing{
    padding: 0 !important;
}

.login-button{
    margin: 5%;
}

.login-input{
    background-color: #ededed;
}

.nav-container{
    width: 100%;
    padding: 5% 5% 3% 5%;
}

.quote{
    margin: auto;
    padding: 10px;
}

.toggle-container{
    margin: 0;
}

.toggle-container button{
    border-radius: 25px;
    display: block;
    margin-bottom: 5px;
    width: 100%;
}

