body {
  background-color: #ededed !important;
  font-family: "DM Sans", sans-serif;
  overflow: hidden;
}

.account-buttons {
  float: right;
}

.btn-primary {
  background-color: #004a7c;
  border-color: #004a7c;
}

.btn-primary:hover {
  background-color: #ededed;
  border-color: #004a7c;
  color: #004a7c;
}

.btn-outline-primary {
  border-color: #004a7c;
  color: #004a7c;
}

.btn-outline-primary:hover {
  background-color: #004a7c;
  border-color: #004a7c;
}

.datetime td {
  width: 50%;
}

.footer-container {
  width: 100%;
  margin-top: 3%;
  padding-left: 4%;
}

.form-container {
  padding: 2%;
}

.form-signin {
  background-color: white !important;
  border-radius: 5px;
}

.greeting-part {
  text-align: right;
}

.hero-auth {
  margin: auto;
}

.hero-landing {
  padding: 0 !important;
}

.link {
  text-decoration: none;
}

.login-button {
  margin: 1%;
}

.login-input {
  background-color: #ededed;
  border-color: white;
}

.main-container {
  margin-right: 0;
}

.my-col {
  height: 482px;
  overflow: auto;
}

.nav-container {
  width: 100%;
  padding: 5% 5% 3% 5%;
}

.quote {
  margin: auto;
  padding: 10px;
}

.disp {
  margin: 6%;
}

.mybtn button {
  border-radius: 25px;
}

.sidebar {
  margin: 0 !important;
}

.sidebar-buttons button {
  display: block;
  margin-top: 32%;
  margin-bottom: 32%;
}

.timetable-container {
  padding: 4% 1%;
}

.toggle-container {
  margin: 0;
}

.toggle-container button {
  border-radius: 25px;
  display: block;
  margin-bottom: 5px;
  width: 100%;
}
