body {
  background-color: #000 !important;
  font-family: "DM Sans", sans-serif;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0dcaf0;
}

.account-buttons {
  float: right;
}

.btn-primary {
  background-color: #0dcaf0;
  border-color: #0dcaf0;
}

.btn-primary:hover {
  background-color: #121212;
  border-color: #0dcaf0;
  color: #0dcaf0;
}

.btn-outline-primary {
  border-color: #0dcaf0;
  color: #0dcaf0;
}

.btn-outline-primary:hover {
  background-color: #0dcaf0;
  border-color: #0dcaf0;
}

.datetime td {
  width: 50%;
}

.footer-container {
  width: 100%;
  margin-top: 3%;
  padding-left: 4%;
}

.form-container {
  padding: 7%;
}

.form-signin {
  background-color: #121212 !important;
  border-radius: 5px;
}

.greeting {
  color: #0dcaf0;
}

.greeting-part {
  text-align: right;
}

.hero-auth {
  margin: auto;
}

.hero-landing {
  padding: 0 !important;
}

.link {
  text-decoration: none;
}

.login-button {
  margin: 5%;
}

.login-input {
  background-color: #000;
  border-color: #121212;
}

.main-container {
  margin-right: 0;
}

.my-col {
  height: 482px;
  overflow: auto;
}

.nav-container {
  width: 100%;
  padding: 5% 5% 3% 5%;
}

.quote {
  margin: auto;
  padding: 10px;
}

.disp {
  margin: 6%;
}

.mybtn button {
  border-radius: 25px;
}

.sidebar {
  margin: 0 !important;
  background-color: #121212 !important;
}

.sidebar-buttons button {
  display: block;
  margin-top: 45%;
  margin-bottom: 45%;
  background-color: #121212 !important;
  border-color: #121212 !important;
  color: #0dcaf0;
}

.sidebar-buttons button:hover {
  color: #0dcaf0;
  border-color: #0dcaf0;
}

.toggle-container {
  margin: 0;
}

.toggle-container button {
  border-radius: 25px;
  display: block;
  margin-bottom: 5px;
  width: 100%;
}
